body {
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;
}

.calculator {
    background: #000;
    padding: 20px;
    border-radius: 30px;
    width: 280px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

#display {
    width: 100%;
    height: 70px;
    background: black;
    color: white;
    font-size: 32px;
    text-align: right;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #333;
    color: white;
}

button:active {
    transform: scale(0.95);
}

.func {
    background: #a5a5a5;
    color: black;
}

.op {
    background: #ff9500;
    color: white;
}

.equal {
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 2;
    border-radius: 30px;
}
